In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
df= pd.read_csv('Life_expectancy_Data.csv')
pd.set_option('max_columns', None)
df = df.dropna(subset=['Life expectancy '])
df.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [27]:
#df_clear= df.drop_duplicates(subset="Country",keep='first') # curatam datele inutile

df_clear = df
#df['Life expectancy '].plot()

In [28]:
# sortam datele si le curatam pentru ce avem nevoie 
#2.	Should a country having a lower life expectancy value(<65) increase its healthcare expenditure in order to improve its average lifespan?

In [29]:
df_lower_lifespawn=df_clear[['Country' , 'Life expectancy ' , 'Total expenditure']]
df_lower_lifespawn = df_lower_lifespawn.dropna(subset=['Total expenditure']) # nu luam datele care nu au valori 
print(df_lower_lifespawn)
df_lower_lifespawn.corr()

          Country  Life expectancy   Total expenditure
0     Afghanistan              65.0               8.16
1     Afghanistan              59.9               8.18
2     Afghanistan              59.9               8.13
3     Afghanistan              59.5               8.52
4     Afghanistan              59.2               7.87
...           ...               ...                ...
2933     Zimbabwe              44.3               7.13
2934     Zimbabwe              44.5               6.52
2935     Zimbabwe              44.8               6.53
2936     Zimbabwe              45.3               6.16
2937     Zimbabwe              46.0               7.10

[2712 rows x 3 columns]

                   Life expectancy   Total expenditure
Life expectancy            1.000000           0.218086
Total expenditure          0.218086           1.000000

In [ ]:
 #3 How do Infant and Adult mortality rates affect life expectancy? 
# per 1000

In [6]:
df_mortality = df_clear[['Life expectancy ','Adult Mortality' , 'infant deaths']]
df_mortality = df_mortality.dropna(subset=['Adult Mortality' , 'infant deaths']) ## 
df_mortality
#sns.heatmap(df_mortality, annot=True)

      Life expectancy   Adult Mortality  infant deaths
0                 65.0            263.0             62
1                 59.9            271.0             64
2                 59.9            268.0             66
3                 59.5            272.0             69
4                 59.2            275.0             71
...                ...              ...            ...
2933              44.3            723.0             27
2934              44.5            715.0             26
2935              44.8             73.0             25
2936              45.3            686.0             25
2937              46.0            665.0             24

[2928 rows x 3 columns]

In [ ]:
df_mortality.corr()

In [ ]:
#4 Does Life Expectancy have a positive or negative correlation with eating habits, lifestyle, exercise, smoking, drinking alcohol, etc.

In [16]:
df_habits = df_clear[['Life expectancy ','Alcohol' , ' BMI ', 'percentage expenditure']]
df_habits = df_habits.dropna(subset=['Life expectancy ','Alcohol' , ' BMI ', 'percentage expenditure'])
df_habits
#df_habits.corr()
#sns.heatmap(df_habits, annot=True)

      Life expectancy   Alcohol   BMI   percentage expenditure
0                 65.0     0.01   19.1               71.279624
1                 59.9     0.01   18.6               73.523582
2                 59.9     0.01   18.1               73.219243
3                 59.5     0.01   17.6               78.184215
4                 59.2     0.01   17.2                7.097109
...                ...      ...    ...                     ...
2933              44.3     4.36   27.1                0.000000
2934              44.5     4.06   26.7                0.000000
2935              44.8     4.43   26.3                0.000000
2936              45.3     1.72   25.9                0.000000
2937              46.0     1.68   25.5                0.000000

[2720 rows x 4 columns]

In [ ]:
#5 What is the impact of schooling on the lifespan of humans?

In [ ]:
df_schooling = df_clear[['Life expectancy ' , 'Schooling']]
df_schooling = df_schooling.dropna(subset=['Schooling' , 'Life expectancy '])
print(df_schooling)
df_schooling.corr()

In [ ]:
#6.	Does Life Expectancy have a positive or negative relationship with drinking alcohol?

In [ ]:
df_alchool = df_clear[['Life expectancy ','Alcohol']]
df_alchool = df_alchool.dropna(subset=['Alcohol' , 'Life expectancy '])
df_alchool.corr()

In [ ]:
#7 7.	Do densely populated countries tend to have a lower life expectancy?

In [ ]:
df_dens = df_clear[['Life expectancy ' , 'Population' ]]
df_dens = df_dens.dropna(subset=['Population' , 'Life expectancy '])
df_dens=df_dens.sort_values(by='Population',ascending=False)
print(df_dens)
df_dens.corr()
#pyplot.scatter('Life expectancy ', 'Population')
#pyplot.show()